<div class="container-fluid">
  <div class="row py-2">
    <div class="col-12">
      <ul class="nav">
        <li class="nav-item">
          <a class="nav-link active" href="#">Summary</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Appointments</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Medications</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="row">
    <hr />
    <div class="col-12">
      <table class="table table-striped">
        <tbody>
          <tr>
            <th>Full Name</th>
            <td>Alan</td>
          </tr>
          <tr>
            <th>Age</th>
            <td>27</td>
          </tr>
          <tr>
            <th>Date of Birth</th>
            <td>July 6th, 1995</td>
          </tr>
          <tr>
            <th>NSS</th>
            <td>123456</td>
          </tr>
          <tr>
            <th>Phone Number</th>
            <td>8182804830</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
