<div class="col-12">
  <table class="table table-striped">
    <tbody>
      <tr>
        <th>Full Name</th>
        <td>{{ patient.name + " " + patient.lastName }}</td>
      </tr>
      <tr>
        <th>Age</th>
        <td>{{ getAge(patient.birthDate) }}</td>
      </tr>
      <tr>
        <th>Date of Birth</th>
        <td>{{ patient.birthDate | date }}</td>
      </tr>
      <tr>
        <th>NSS</th>
        <td>{{ patient.socialSecurityNumber }}</td>
      </tr>
      <tr>
        <th>Phone Number</th>
        <td>{{ patient.phone }}</td>
      </tr>
    </tbody>
  </table>
</div>
