<nav class="navbar navbar-dark bg-primary">
  <div class="container-fluid">
    <div class="col-3">
      <a class="navbar-brand">UnitedHealth Group</a>
    </div>
    <div class="col-6">
      <form class="d-flex" role="search">
        <div class="input-group">
          <input
            type="text"
            class="form-control"
            placeholder="Search everywhere"
          />
          <button class="btn btn-light" type="button">
            <span class="bi bi-search"></span>
          </button>
        </div>
      </form>
    </div>
    <div class="col-3">
    </div>
  </div>
</nav>
