<div class="container-fluid">
  <div class="row py-3">
    <div class="col-6">
      <ul class="nav">
        <li class="nav-item">
          <a class="nav-link" href="#">Calendar</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="#">Patients</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Medications</a>
        </li>
      </ul>
    </div>
    <div class="col-6 d-flex justify-content-end">
      <div class="dropdown me-2">
        <button
          class="btn btn-outline-primary dropdown-toggle"
          type="button"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          Actions Group
        </button>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="#">Action</a></li>
          <li><a class="dropdown-item" href="#">Another action</a></li>
          <li><a class="dropdown-item" href="#">Something else here</a></li>
        </ul>
      </div>
      <button
        type="button"
        class="btn btn-primary"
        data-bs-toggle="modal"
        data-bs-target="#staticBackdrop"
      >
        New Patient
      </button>
    </div>
  </div>
  <div class="row">
    <div *ngFor="let patient of patients" class="col-12">
      <div class="card mb-3">
        <div class="card-body p-1">
          <div class="row">
            <div class="col-1 ps-3 pe-0 d-flex justify-content-center align-items-center">
              <div class="initials bg-primary">
                {{ getInitials(patient.name, patient.lastName) }}
              </div>
            </div>
            <div class="col-3 ps-2">
              <p class="h6 m-0">{{ patient.name + " " + patient.lastName }}</p>
              <p class="small text-muted m-0">
                {{ getAge(patient.birthDate) }} years
              </p>
              <p class="small text-muted m-0">
                DOB: {{ patient.birthDate | date }}
              </p>
            </div>
            <div class="col-2">
              <p class="small text-muted m-0">Blood Group</p>
              <p class="h6 m-0">AB</p>
            </div>
            <div class="col-3">
              <p class="small text-muted m-0">Alergies</p>
              <p class="h6 m-0">None</p>
            </div>
            <div class="col-3 px-0">
              <p class="small text-muted m-0">Next Appointment</p>
              <p class="h6 m-0">June 12th, 2024</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div
  class="modal fade"
  id="staticBackdrop"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
  tabindex="-1"
  aria-labelledby="staticBackdropLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5">New Patient</h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="patientForm" novalidate>
          <div class="form-group mb-3">
            <label class="form-label">Name</label>
            <input
              type="text"
              class="form-control"
              formControlName="name"
              [ngClass]="{
                'is-invalid': name?.touched && name?.errors,
                'is-valid': name?.valid
              }"
              required
            />
            <div
              *ngIf="name?.invalid && (name?.dirty || name?.touched)"
              class="invalid-feedback"
            >
              This field is required.
            </div>
          </div>
          <div class="mb-3">
            <label class="form-label">Last Name</label>
            <input
              type="text"
              class="form-control"
              [ngClass]="{
                'is-invalid': lastName?.touched && lastName?.errors,
                'is-valid': lastName?.valid
              }"
              formControlName="lastName"
              required
            />
            <div
              *ngIf="
                lastName?.invalid && (lastName?.dirty || lastName?.touched)
              "
              class="invalid-feedback"
            >
              <div *ngIf="lastName?.errors?.['required']">
                This field is required.
              </div>
            </div>
          </div>
          <div class="mb-3">
            <label class="form-label">Birthdate</label>
            <input
              type="date"
              class="form-control"
              [ngClass]="{
                'is-invalid': birthdate?.touched && birthdate?.errors,
                'is-valid': birthdate?.valid
              }"
              formControlName="birthdate"
              required
            />
            <div
              *ngIf="
                birthdate?.invalid && (birthdate?.dirty || birthdate?.touched)
              "
              class="invalid-feedback"
            >
              <div *ngIf="birthdate?.errors?.['required']">
                This field is required.
              </div>
            </div>
          </div>
          <div class="mb-3">
            <label class="form-label">NSS</label>
            <input
              type="text"
              class="form-control"
              [ngClass]="{
                'is-invalid': nss?.touched && nss?.errors,
                'is-valid': nss?.valid
              }"
              formControlName="nss"
              maxlength="6"
              numbersOnly
              required
            />
            <div
              *ngIf="nss?.invalid && (nss?.dirty || nss?.touched)"
              class="invalid-feedback"
            >
              <div *ngIf="nss?.errors?.['required']">
                This field is required.
              </div>
              <div *ngIf="nss?.errors?.['minlength']">
                This field is not valid format.
              </div>
            </div>
          </div>
          <div class="mb-3">
            <label class="form-label">Phone</label>
            <input
              type="text"
              class="form-control"
              [ngClass]="{
                'is-invalid': phone?.touched && phone?.errors,
                'is-valid': phone?.valid
              }"
              formControlName="phone"
              maxlength="10"
              numbersOnly
              required
            />
            <div
              *ngIf="phone?.invalid && (phone?.dirty || phone?.touched)"
              class="invalid-feedback"
            >
              <div *ngIf="phone?.errors?.['required']">
                This field is required.
              </div>
              <div *ngIf="phone?.errors?.['minlength']">
                This field is not valid format.
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Cancel
        </button>
        <button type="button" class="btn btn-primary" (click)="onSubmit()">
          Save
        </button>
      </div>
    </div>
  </div>
</div>
