@import "../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css";

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  display: none;
}
.cursor-pointer {
  cursor: pointer;
}
html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
.mat-mdc-snack-bar-container.success {
  --mdc-snackbar-container-color: #198754;
}
.mat-mdc-snack-bar-container.error {
  --mdc-snackbar-container-color: #dc3545;
}

